body{
  text-align: center;
  font-size: 30px;
  margin: auto;
  max-width: 900px;
}

h1{
  background-color: deepskyblue;
  margin: 0px;
}

p{
  margin: 0px;
}

h2{
  background-color: deeppink;
  margin: 0px;
}
